.collection-intro {
  padding-block: 3.75rem;
}

.hero {
  height: 48.125em;
  display: flex;
  align-items: center;
  background-image: url("../../images/collection/bg-collection.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0;
  font-family: var(--font-noto-kr);
  font-size: 3.75rem;
  font-weight: 600;
  color: #76867E;
}

@media (max-width: 64rem) {
  .hero__title {
    font-size: 3.125rem;
  }

  .collection-intro__title {
    font-size: 3rem;
  }

  .collection-intro__description {
    font-size: 1rem;
  }
}

@media (max-width: 48rem) {
  .hero__title {
    font-size: 2.25rem;
  }

  .collection-intro__title {
    font-size: 2rem;
  }

  .collection-intro__description {
    font-size: 0.875rem;
  }
}
