.collection-intro {
  padding-block: 3.75rem;
}

.hero {
  height: 62.5rem;
  display: flex;
  align-items: center;
  background-image: url("../../images/collection/bg-collection.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-family: var(--font-myeongjo);
  font-size: 3.75rem;
  font-weight: bold;
  color: #76867E;
}

@media (max-width: 64rem) {
  .collection-intro__title {
    font-size: 3rem;
  }

  .collection-intro__description {
    font-size: 1rem;
  }
}

@media (max-width: 48rem) {
  .collection-intro__title {
    font-size: 2rem;
  }

  .collection-intro__description {
    font-size: 0.875rem;
  }
}
