.hero {
  /* height: 62.5rem;*/
  height: 48.125em;
  display: flex;
  align-items: center;
  /* background-image: url("../../images/products/bg-products.webp"); */
  background-image: url("../../images/products/image\ 155.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-family: var(--font-noto-kr);
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--color-brand-5);
}

.products__inner {
  padding-block: 4.375rem;
}

.products__title {
  margin-bottom: 1.5rem;
  padding-block: 2.5rem;
  font-family: var(--font-primary);
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--color-grey-900);
  text-align: center;
}

.products__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.products__filter-button {
  padding: 0.625rem 1rem;
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-900);
  background-color: transparent;
  border: 0.0625rem solid var(--color-grey-900);
  border-radius: 6.25rem;
}

.products__filter-button:hover {
  background-color: var(--color-grey-100);
  border-color: var(--color-grey-300);

  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
}

.products__filter-button--active {
  color: var(--color-white);
  background-color: var(--color-grey-900);
  border-color: var(--color-grey-900);
}

.products__filter-button--active:hover {
  color: var(--color-white);
  background-color: var(--color-grey-900);
  border-color: var(--color-grey-900);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 1.5rem;
}

@media (max-width: 48rem) {
  .products__inner {
    padding: 40px 20px;
    padding-block: 2.5rem;
  }

  .products__title {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    line-height: 2.5rem;
  }

  .products__filters {
    gap: 0.4375rem;
  }

  .products__filter-button {
    padding: 0.5rem 0.875rem;
    font-size: 0.8125rem;
  }

  .products__list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.25rem;
    gap: 0.5rem;
  }
}
