.hero {
  height: 62.5rem;
  display: flex;
  align-items: center;
  background-image: url("../../images/products/bg-products.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-family: var(--font-myeongjo);
  font-size: 3.75rem;
  font-weight: bold;
  color: #76867E;
}

.products__inner {
  padding-block: 4.375rem;
}

.products__title {
  margin-bottom: 1.5rem;
  padding-block: 2.5rem;
  font-family: var(--font-primary);
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--color-grey-900);
  text-align: center;
}

.products__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.products__filter-button {
  padding: 0.625rem 1rem;
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color-grey-900);
  background-color: transparent;
  border: 0.0625rem solid var(--color-grey-900);
  border-radius: 6.25rem;
}

.products__filter-button--active {
  color: var(--color-white);
  background-color: var(--color-grey-900);
  border-color: var(--color-grey-900);
}
