.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: var(--container-gutter);
  box-sizing: border-box;
}

@media (max-width: 64rem) {
  .container {
    --container-gutter: 3.75rem;
  }
}

@media (max-width: 48rem) {
  .container {
    --container-gutter: 2.5rem;
  }

  .container--mobile-20 {
    --container-gutter: 1.25rem;
  }

  .container--mobile-40 {
    --container-gutter: 2.5rem;
  }

  .container--mobile-full {
    --container-gutter: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gutter);
}

.grid__col--12 {
  grid-column: span 12;
}

.grid__col--6 {
  grid-column: span 6;
}

.grid__col--4 {
  grid-column: span 4;
}

.grid__col--3 {
  grid-column: span 3;
}

.grid__col--1 {
  grid-column: span 1;
}

@media (max-width: 64rem) {
  .grid__col--6,
  .grid__col--4,
  .grid__col--3 {
    grid-column: span 12;
  }
}

@media (max-width: 48rem) {
  .grid {
    grid-template-columns: 1fr;
  }
}
